extends templates/head
block head-meta
    meta(property="og:title" content="")/
    meta(property="og:description" content="")/
    meta(property="og:image" content="https://site-name.ru/img/logo.png")/
    meta(property="og:url" content= "https://site-name.ru/")/
    meta(name="description" content="")/

block head-title
    title Buider-bs4

block body
    include ../../../node_modules/bemto.pug/bemto
    include templates/layouts/header__top-bar
        .header__menu-bar
            .container
                .row.mixin_rel
                    include templates/header__menu
                        block header__menu-links
                            a.main-menu__item(href="credit.html") Финансовым компаниям
                            a.main-menu__item(href="ogv_omsy.html") Государственным органам
                            a.main-menu__item(href="services.html") Сервисы СМЭВ
                            a.main-menu__item(href="edo_gosuslug.html") Комплекс ViPNet ЭДО
                            span.main-menu__end
                    include templates/layouts/header__menu-services
                    include templates/layouts/header__search-panel

    main
        include templates/sections/test-section

    //- include templates/layouts/footer

    script(type="application/javascript", src="js/bundle.js")
    //- include includes/scripts/*
