+b.SECTION
    .container
        .row
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            .col-xxl 1
            svg(class="icon icon-logo icon_size_150x40 icon_fill_primary1")
                use(xlink:href="/img/svg-sprite.svg#icon-logo")
            svg(class="icon icon-key_arrow_down icon_size_24 icon_fill_black")
                use(xlink:href="/img/svg-sprite.svg#icon-key_arrow_down")

+b.SECTION
