- var nav = {'Menu 1': 'index1.html', 'Menu 2': 'index2.html', 'Menu 3': 'index3.html', 'Menu 4': 'index4.html', }
ul
    each linkPath, linkName in nav
        li: a(href=linkPath) #{linkName}
        //- linkPath cначала, значит в объектве  конце
