.col-sm-10.col-md-10.col-xl-10.col-xxl-11
    .header__menu
        +b.NAV.main-menu(role='navigation')
            #main-menu_expanded
                block header__menu-links
                    a.main-menu__item(href="link.html" class="main-menu__item-active") Электронная подпись
                    a.main-menu__item(href="link.html") Электронная подпись 2
                    a.main-menu__item(href="link.html") Электронная подпись 3
